// Theme bleu
$jediBleu: #007BFF;
$bleuLazer: #33B5E5;
$argentHolo: #C0C0C0;
$beigeJedi: #ECE2B8;

// Theme rouge
$rougeSith: #FF0000;
$noirProfond: rgb(0, 0, 0, 0.75);
$rougeSombre: #8B0000;
$darkRed:rgb(139, 0, 0, 0.75);
$orangeSith: #FF5A00;
$rougeclairpastel: #FF9999;
$rougeclairrose: #FFCCCC;

//police jaune

$policejaune: #FFEA2C


