.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;

  .navbar {
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    &__logo {
      display: flex;
      align-items: flex-end;
      gap: 5px;
      color: white;
      p {
        font-size: 25px;
      }
    }
    &__list {
      display: flex;
      gap: 12px;
      font-size: 18px;
      @media all and (max-width: 768px) {
        display: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}


.navbar-responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  gap: 10px;
  padding: 1rem;
  font-size: 20px;
  @media all and (min-width: 768px) {
    display: none;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.navbar-sith {
  background: linear-gradient($rougeSith, $rougeSombre);
}

.navbar-jedi {
    background: linear-gradient($jediBleu, $bleuLazer);
}

:root {
  --bar-width: 45px;
  --bar-height: 5px;
  --hamburger-gap: 5px;
  --foreground: gold;
  --background: red;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  .black {
    --foreground: black;
    --background: red;
  }
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  z-index: 2;
  cursor: pointer;
  @media all and (min-width: 768px) {
    display: none;
  }

  --menu-foreground: var(--foreground);
  --menu-background: var(--background);
}

.hamburger-menu:has(input:checked) {
  --menu-foreground: gold;
  --menu-background: gold;
  .black {
    --menu-foreground: black;
    --menu-background: black;
  }
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked) {
  translate: 0;
}


